.about-left{
    .question{
        position:absolute;
        top: 11rem;
        left: 15rem;
    }
}
.about-right{
    left: 18rem;
}    
.aboutsanjeevni
    {
        padding: 2rem 12rem 2rem 6rem ;
        position:absolute;
        text-align: left;
        left: 46rem;
        top: 3rem;
        line-height: 30px;
        font-weight: bold;
        letter-spacing: 0.08em;
    }

