@import '../variables/_color.scss';

.bloodbottle{
    
  .bloodbottle-container {
    display: flex;
    justify-content: space-between;

    .bloodbottle-left {
      height: 150px;
      padding: 20px;
    }

    .bloodbottle-center {
      height: 600px;
    }

    .bloodbottle-right {
      height: 150px;
      padding: 20px;
    }
  }

  .donate-button {
    text-align: center;
  }

  .plasma-heading {
    text-align: center;
  }
}

