.covidcard{
    width: 100%;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 5%;
    > * {
        margin-bottom: 1.8rem;
      }
      > *:last-child {
        margin-bottom: 0;
      }
      .covid-row{
          display: flex;
        > * {
            margin-right: 5rem;
          }
          > *:last-child {
            margin-right: 0;
          }
        }
          &__content-left{
            > * {
                margin-bottom: .5rem;
              }
              > *:last-child {
                margin-bottom: 0;
              }
              align-items: flex-start;
                align-content: flex-start;
          }
          &__content-right{
            > * {
                margin-bottom: .5rem;
              }
              > *:last-child {
                margin-bottom: 0;
              }
                align-items: flex-end;
                align-content: flex-end;
          }
      }