.Doctor-div {
    padding: 0 13%;
    p {
        font-size: 2rem;
        padding-top: 20px;

        @media (max-width: 1000px) {
            font-size: 1rem;
        }
    }

    .container-right {
        text-align: center;
    }

    .container {
        display: flex;
        justify-content: space-between;

        .container-left {

            img {
                height: 400px;
                border-radius: 10px;
                box-shadow: 5px 5px 20px 0px rgba(136, 136, 136, 0.541);
            }

            img:hover {
                box-shadow: 10px 10px 35px 0px rgba(37, 37, 37, 0.541);
            }
        }
    }
}