@import "../variables/_color.scss";

.footer{
    background-color: $color-light-green;
    padding: 2% 13%;
    color: $color-white;
    p{
      font-family: 'Rubik', sans-serif;
    }

    > * {
        margin-bottom: .7rem;
      }
      > *:last-child {
        margin-bottom: 0;
      }
      &__row{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          align-content: center;
      }
      &__center{
        display: flex;
        flex-direction: row-reverse;
        .logo{
            margin-left: 2rem;
            width: 2%;
        }
      }
      &__down{
          text-align: center;
      }
}