.landing-container {
    background-image: url('../../assets/background.PNG');
    background-size: contain;
    background-repeat: repeat;
    height: 500px;
    padding: 0 13%;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .container-left {
            h1 {
                padding-top: 180px;
                font-size: 5rem;
            }
            p {
                font-size: 2.5rem;
            }

            button {
                font-size: 1rem;
                padding: 4%;
                border-radius: 10px;
            }
        }

        .container-right {
            img {
                height: 500px;
                width: 500px;
                margin-right: -70px;
            }
            @media (prefers-reduced-motion: no-preference) {
                img {
                  animation: virus-logo-spin infinite 20s linear;
                }
            }

            @keyframes virus-logo-spin {
                0%   {transform: rotate(0deg); left: 0px; top: 0px;}
                25%  {transform: rotate(90deg);left: 100px; top: 0px;}
                50%  {transform: rotate(180deg);left: 100px; top: 100px;}
                75%  {transform: rotate(270deg);left: 0px; top: 100px;}
                100% {transform: rotate(360deg); left: 0px; top: 0px;}
            }
        }
    }
}