.landing-container {
    background-image: url('../../assets/background.PNG');
    background-size: contain;
    background-repeat: repeat;
    height: auto;
    padding: 0 13%;
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @media (max-width: 900px) {
            flex-direction: column;
            text-align: center;
        }

        .container-left {
            h1 {
                padding-top: 170px;
                font-size: 5rem;
                font-family: 'Rubik', sans-serif;
                color: $color-blue;

                @media (max-width: 1000px) {
                    padding-top: 100px;
                }
                @media (max-width: 400px) {
                    padding-top: 70px;
                }
            }
            p {
                font-size: 2.5rem;
                font-family: 'Rubik', sans-serif;
                color: $color-blue;

                span {
                    color: $color-green;
                }
            }

            .button-container {
                padding-top: 30px;

                .add-button {
                    font-size: 1rem;
                    width: 200px;
                    padding: 18px;
                    border-radius: 10px;
                    color: white;
                    background-color: $color-green;
                    border: 2px $color-green;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    cursor: pointer;

                    @media (max-width: 900px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                    @media (max-width: 345px) {
                        margin-right: 0;
                    }
                }
    
                .view-button {
                    font-size: 1rem;
                    width: 200px;
                    padding: 17px;
                    border-radius: 10px;
                    background-color: white;
                    border: 2px solid $color-green;
                    color: $color-green;
                    font-weight: bold;
                    cursor: pointer;

                    @media (max-width: 900px) {
                        width: 150px;
                        font-size: 0.7rem;
                    }
                }
            }   
        }

        .container-right {
            img {
                height: 400px;
                width: 400px;
                margin-top: 80px;
                margin-right: -70px;

                @media (max-width: 900px) {
                    margin-right: 0px;
                    height: 200px;
                     width: 200px;
                }
            }
            @media (prefers-reduced-motion: no-preference) {
                img {
                  animation: virus-logo-spin infinite 20s linear;
                }
            }

            @keyframes virus-logo-spin {
                from {
                    transform: rotate(0deg);
                  }
                  to {
                    transform: rotate(360deg);
                }
            }
        }
    }

    @media (max-width: 1200px) {
        padding: 0 5%;
    }
}